<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!--
Author: Sigfrid Lundberg (slu@kb.dk)
-->
<properties>
    <comment>Configuration for text service daemon.</comment>
    <entry key="queue.uri">tcp://[Active MQ hostport]</entry>
    <entry key="queue.name">text-git-pull</entry>
    <entry key="queue.load.name">text-db-load</entry>
    <entry key="queue.logfile">text-logger.log</entry>
    <entry key="queue.loglevel">info</entry>
    <entry key="data.home">/home/text-service/</entry>
    
    <entry key="indexing.template">http://{+solr_hostport}/solr/text-retriever-core/update</entry>
    <entry key="collection.template">http://{+exist_hostport}/exist/rest/db/text-retriever/collection.xq{?repository}</entry>
    <entry key="solrizr.template">http://{+exist_hostport}/exist/rest/db/text-retriever/present.xq{?op,doc,c}</entry>
    <entry key="file.template">http://{+exist_hostport}/exist/rest/db/text-retriever/{collection}/{+file}</entry>

    <entry key="staging">staging hostport</entry>
    <entry key="production">production hostport</entry>

    <!-- Two fields in one: note the semicolon! -->
    <entry key="staging.credentials">[user];[password]</entry>
    <entry key="production.credentials">[user];[password]</entry>

    <!-- Eventually we'll need more than one of these: -->
    <entry key="git.user">the_git_user_name</entry>
    <entry key="git.password">very_secret_git_password</entry>
</properties>