<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!--
Author: Sigfrid Lundberg (slu@kb.dk)
-->
<properties>
    <comment>Configuration for text service daemon.</comment>
    <entry key="queue.uri">tcp://localhost:61616</entry>
    <entry key="queue.name">text-git-pull</entry>
    <entry key="data.home">/home/text-service/</entry>
</properties>